{% extends "layout.twig" %}

{% block header %}
    <header class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">Solutions IT - Ticketsystem</span>
            <a class="" onclick="openNewTicket()">Neues Ticket erstellen</a>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="text-center mt-4">
        <a href="?filter=0" class="btn btn-primary d-inline-block">Offene Tickets anzeigen</a>
        <a href="?filter=1" class="btn btn-primary d-inline-block">Erledigte Tickets anzeigen</a>
        <a href="?filter=0,1" class="btn btn-primary d-inline-block">Alle Tickets anzeigen</a>

    </div>

    <div class="container mt-5 mx-auto">
        <table border="1" class="mx-auto">
            <thead>
            <tr>
                <th class="ticketList names">Erledigt?</th>
                <th>Ticket ID</th>
                <th>Ersteller</th>
                <th>Erstellungsdatum</th>
                <th>Priorität</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr onclick="openDetails({{ row.ticketID }})">
                    <td style="background-color: {% if row.finish == 1 %}red{% else %}green{% endif %};"></td>
                    <td class="ticketList list-data">{{ row.ticketID }}</td>
                    <td class="ticketList list-data">{{ row.creator }}</td>
                    <td class="ticketList list-data">{{ row.creationDate }}</td>
                    <td class="ticketList list-data">{{ row.Prio }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>
        function openDetails(id){
            window.location.href = 'index.php?ticket=' + id
        }
        function openNewTicket(){
            window.location.href = 'index.php?newticket'
        }
    </script>
{% endblock %}